.container {
  padding: 0 20px;
  background-color: var(--white);
  color: var(--black);
}

.tr {
  display: grid;
  align-items: center;
  grid-template-columns: auto 1fr auto;
  justify-items: center;
}

.pages {
  display: flex;
  font-size: 1.5rem;
}

.button {
  font-size: 24px;
  font-weight: 500;
}

.disabled {
  color: var(--gray);
  cursor: default;
}

.active {
  color: var(--primary);
}

.pages a {
  padding: 15px 5px;
  font-size: 18px;
  font-style: italic;
  font-weight: 700;
}

.pages a:hover,
.button a:hover {
  color: var(--primary);
}
