{
  "extends": ["airbnb", "airbnb/hooks", "airbnb-typescript"],
  "rules": {
    "max-len": ["error", 120],
    "no-param-reassign": ["error", { "props": false }],
    "@typescript-eslint/comma-dangle": [
      "error",
      {
        "arrays": "always-multiline",
        "objects": "always-multiline",
        "imports": "never",
        "exports": "never",
        "functions": "never"
      }
    ]
  },
  "parserOptions": {
    "project": "./tsconfig.json"
  }
}
